<!-- The contents of the result pdf. Javascript is disabled so there's not a need to sanitize. -->
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p><%= @result.created_at.strftime('Completed on %m/%d/%Y at %I:%M%p %Z') %></p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <p><em>Create documents like this at FormSling.com</em></p>
    </div>
  </div>
</div>
<section class="section">
  <div class="content">
    <p>Snapshot</p>
    <div class="container is-snapshot">
      <%= @payload.html_safe %>
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    <p>Values Object</p>
    <table class="table">
      <thead>
        <tr>
          <th>Field Name</th>
          <th>Field Value</th>
        </tr>
      </thead>
      <tbody>
        <% @result.values_object.each do |value_obj| %>
          <tr>
            <td><%= value_obj['name'].to_s %></td>
            <td><%= value_obj['value'].to_s %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
