<h1><%= @result.form.name %></h1>
<p>A new result has been processed and is attached.</p>
<p>This is an automated message - do not respond to this email.</p>
<p>Thanks,</p>
<p>The FormSling Team</p>

