<h1>Subscription Canceled</h1>
<p>
  This is an automated message letting you know that your subscription was canceled.
</p>
<p>Any remaining credit will be refunded to your original payment method.</p>
<p>
  While canceled, your forms will continue functioning as normal, but you'll need to start a new
  subscription to reveal their results.
</p>
<p>This is an automated message - do not respond to this email.</p>
<p>Thanks,</p>
<p>The FormSling Team</p>
