<section class="section formsling-hero-image">
  <div class="container">
    <div class="columns">
      <div class="column is-4 has-text-white">
        <h4 class="title is-3 has-text-white">The Benefits of Embedded Forms</h4>
        <div class="content">
          <p>Pellentesque dictum purus leo, et placerat turpis porta gravida. In cursus diam id ipsum
            vulputate, ut
            venenatis eros porta. Aenean fringilla a nisi ac viverra.</p>
          <p>Curabitur sagittis sit amet quam at rhoncus. Ut sed consequat ex, sed consequat ipsum.
            Pellentesque nec
            nisi justo.</p>
        </div>
        <a class="button has-text-weight-bold formsling-button is-success">Get Started</a>
      </div>
      <div class="column is-8">
        <figure class="image">
          <%= image_tag asset_pack_path('media/images/checklist.svg'), alt: "Benefits illustration" %>
        </figure>
      </div>
    </div>
  </div>
</section>
