<div class="column is-8 is-offset-2 has-text-centered">
  <h5 class="title has-text-weight-bold is-5">
    <i class="fad fa-check"></i>
    <%= question %>
  </h5>
  <div class="content">
    <p><%= answer %></p>
  </div>
</div>
