<section class="section formsling-background-light">
  <div class="container has-white-text">
    <div class="columns formsling-space-bottom">
      <div class="column is-8 is-offset-2">
        <div class="formsling-section-content has-text-centered">
          <h3 class="title">Frequently Asked Questions</h3>
        </div>
      </div>
    </div>
      <%= render partial:"welcome/faq_question",
        locals: {
          question: "How do I keep my subscription active after my free 30 day trial?",
          answer: "Throughout your trial, you can enter a payment method at any time by visiting your Manage Account page. When your trial ends, we'll bill your provided payment method automatically and your standard monthly subscription will begin."
      }%>
      <%= render partial:"welcome/faq_question",
        locals: {
          question: "What happens when my trial ends?",
          answer: "If you haven't provided a payment method, and your trial ends, your subscription may be canceled. If that happens you can start your standard subscription by visiting your Manage Account page."
      }%>
      <%= render partial:"welcome/faq_question",
        locals: {
          question: "What happens when my subscription is cancelled?",
          answer: "While canceled, your forms will continue functioning as normal, but you'll need to start a new subscription to edit them and reveal their results."
      }%>
      <%= render partial:"welcome/faq_question",
        locals: {
          question: "How do I cancel my subscription?",
          answer: "Visit your Manage Account page to find the option to cancel your subscription."
      }%>
  </div>
</section>
