<div class="column is-one-third">
  <article class="card formsling-feature-card">
    <div class="card-content">
      <figure class="image is-159x159">
        <%= image_tag asset_pack_path("media/images/#{imageName}"), alt: imageAlt, width: "145", height: "159" %>
      </figure>

      <div class="media-content has-text-centered">
        <h3 class="title is-5 has-text-weight-bold">
          <a href="/" class="has-text-dark" title="">
            <%= title %>
          </a>
        </h3>
        <p class="is-size-6">
          <%= body %>
        </p>
      </div>
    </div>
  </article>
</div>
