<section id="features" class="section is-medium">

  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">Features</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Build forms
        </h3>
        <p class="subtitle is-5">
          Drag and drop fields into place. Configure them to fit your needs.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <img src="https://via.placeholder.com/500x500/eeeeee?text=Feature+Image" alt="" />
      </div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Publish and share forms
        </h3>
        <p class="subtitle is-5">
          Share forms via share links or embed your forms directly into any webpage.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <img src="https://via.placeholder.com/500x500/eeeeee?text=Feature+Image" alt="" />
      </div>
    </div>

    <div class="columns is-vcentered has-margin-top-60">
      <div class="column is-4 is-offset-1">
        <h3 class="title is-3 has-margin-bottom-10 is-spaced">
          Capture results
        </h3>
        <p class="subtitle is-5">
          Receive a notification each time your form is completed.
        </p>
      </div>
      <div class="column is-5 is-offset-1">
        <img src="https://via.placeholder.com/500x500/eeeeee?text=Feature+Image" alt="" />
      </div>
    </div>
  </div>
</section>
