<section class="hero">
  <div class="hero-body has-padding-top-80 has-padding-bottom-40">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1">
          <p class="title is-1 is-spaced">
            FormSling
          </p>
          <h1 class="subtitle is-5">
            A platform for building and publishing web forms.
          </h1>
          <div class="buttons">
            <%= link_to('Start Free Trial', new_user_registration_path, class: 'button is-primary') %>
            <%= link_to('Login', new_user_session_path, class: 'button') %>
          </div>
        </div>
        <div class="column is-5">
          <figure class="image is-4by3">
            <%= image_tag asset_pack_path('media/images/builder-screenshot.png'), alt: "FormSling Screenshot" %>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
