<section class="hero formsling-main-hero">
  <div class="hero-head">
    <nav class="navbar container formsling-main-nav" role="navigation" aria-label="main navigation">
      <%= render 'layouts/navbar_brand' %>
      <%= render 'layouts/navbar_menu' %>
    </nav>
  </div>

  <div class="hero-body container">
    <div class="columns">
      <div class="column left is-5-desktop">
        <h1 class="title is-size-2-mobile is-1 is-spaced has-text-white">
          Create forms in seconds!
        </h1>
        <h2 class="subtitle is-5 has-text-white">
          Use FormSling to create forms and host them on your own website with no coding necessary.
        </h2>
        <div class="buttons">
          <%= link_to('Get Started Now', new_user_registration_path,
              class: "formsling-button button has-text-weight-bold is-info") %>
        </div>
      </div>
      <div class="column right is-5-desktop is-offset-1-desktop">
        <%= image_tag asset_pack_path('media/images/formsling-hero.png'), class: "formsling-main-hero--image", alt: "FormSling Screenshot" %>
      </div>
    </div>
  </div>
</section>
