<section class="hero">
  <div class="hero-body has-padding-top-80 has-padding-bottom-40">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1">
          <h1 class="title is-1 is-spaced">
            FormSling
          </h1>
          <h2 class="subtitle is-5">
            A platform for building and publishing web forms.
          </h2>
          <div class="buttons">
            <%= link_to('Sign Up for Free', new_user_registration_path, class: 'button is-primary') %>
            <%= link_to('Login', new_user_session_path, class: 'button') %>
          </div>
        </div>
        <div class="column is-5">
          <figure class="image is-4by3">
            <img src="https://via.placeholder.com/600x400/eeeeee?text=Some+Trendy+Screenshot+Goes+Here" alt="Description" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
