<div class="content">
  <h1>Welcome</h1>
  <h2>Steps</h2>
  <ol>
    <li>
      Sign up for your free account
    </li>
    <li>
      Design your forms using our easy form builder tool
    </li>
    <li>
      Embed your form into any website or share it using a public link
    </li>
    <li>
      Receive your completed forms via email
    </li>
  </ol>
</div>
