<div id="pricing">
  <h1 class="title">Pricing</h1>
  <p class="subtitle">Find the right package for your needs.</p>
  <div class="pricing-table">
    <div class="pricing-plan">
      <div class="plan-header">Free</div>
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0</span>/month</div>
      <div class="plan-items">
        <div class="plan-item">Unlimited Published Forms</div>
        <div class="plan-item">Unlimited Monthly Results</div>
        <div class="plan-item">Spam Protection</div>
        <div class="plan-item">Public Share Links</div>
        <div class="plan-item">-</div>
        <div class="plan-item">-</div>
        <div class="plan-item">-</div>
      </div>
      <div class="plan-footer">
        <button class="button is-fullwidth" disabled="disabled">Current plan</button>
      </div>
    </div>

    <div class="pricing-plan is-success is-active">
      <div class="plan-header">Starter</div>
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>10</span>/month</div>
      <div class="plan-items">
        <div class="plan-item">Unlimited Published Forms</div>
        <div class="plan-item">Unlimited Monthly Results </div>
        <div class="plan-item">Spam Protection</div>
        <div class="plan-item">Public Share Links</div>
        <div class="plan-item">Embeddable Widgets</div>
        <div class="plan-item">-</div>
        <div class="plan-item">-</div>
      </div>
      <div class="plan-footer">
        <button class="button is-fullwidth">Choose</button>
      </div>
    </div>

    <div class="pricing-plan is-dark">
      <div class="plan-header">Advanced</div>
      <div class="plan-price">
        <span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month
      </div>
      <div class="plan-items">
        <div class="plan-item">Unlimited Published Forms</div>
        <div class="plan-item">Unlimited Monthly Results</div>
        <div class="plan-item">Spam Protection</div>
        <div class="plan-item">Public Share Links</div>
        <div class="plan-item">Embeddable Widgets</div>
        <div class="plan-item">Custom Stylesheets</div>
        <div class="plan-item">Form Analytics</div>
      </div>
      <div class="plan-footer">
        <button class="button is-fullwidth">Choose</button>
      </div>
    </div>
  </div>
</div>
