<div class="content">
  <h1>
    Confirmation
  </h1>

  <p>Please confirm you want to change your subscription.</p>
</div>

<table class="table is-striped is-bordered">
  <thead>
    <tr>
      <th>Current Plan</th>
      <th>New Plan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if @plan == 'free' %>
        <td>Standard - $10.00 / month</td>
        <td>Free - $0.00 / month</td>
      <% else %>
        <td>Free - $0.00 / month</td>
        <td>Standard - $10.00 / month</td>
      <% end %>
    </tr>
  </tbody>
</table>

<div class="buttons">
  <% if @plan == 'free' %>
    <%= link_to 'Change to Free', stripe_cancel_subscription_path, class: 'button is-primary is-outlined', remote: true, method: :delete %>
  <% else %>
    <%= link_to 'Change to Standard', stripe_new_subscription_path, class: 'button is-primary is-outlined', remote: true %>
  <% end %>

  <%= link_to 'Cancel', subscriptions_path, class: 'button is-link is-outlined' %>
</div>

<% if @plan == 'standard' %>
  <p class="help has-margin-top-40">
    Pay a flat monthly fee for using our service. For partial months, the cost is prorated. Cancel
    your subscription at any time.
  </p>
<% end %>
