#editor {
  [draggable="true"] {
    cursor: pointer;
    * { cursor: pointer }
  }
  [draggable="true"]:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  header {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
  }

  .box {
    border: 1px solid $white;
    &.is-active {
      border-color: $primary;
    }
  }
}
