#sidebar-portal {
  margin: 1.5rem 0;
}
#breadcrumb-portal {
  margin: 1.5rem 0;
}

#editor {
  margin: 1.5rem 0;

  .drag-area {
    margin: 3rem 0;
  }

  .drag-box {
    //padding: 0 1rem;
    margin-bottom: 0.75rem;
    border: 1px solid $white;
    border-radius: 6px;
    background: $white;

    &.enabled {
      padding: 1rem;
      border: 1px solid lighten($primary, 40);

      &:hover {
        border-color: lighten($primary, 30);
      }

      &.selected {
        border-color: $primary;

        .column.is-crafted {
          border: 2px dashed $primary;
        }
      }

      .column.is-crafted {
        background: $background;
        margin: 0.25rem;
      }
    }
  }
}
