#editor {
  [draggable="true"] {
    cursor: pointer;
    * { cursor: pointer }
  }

  .drag-box {
    padding: 0.5rem 1rem;
    margin-bottom: 0.75rem;
    border: 2px solid $white;
    &.enabled {
      border-color: #eee;
      &:hover {
        border-color: lighten($primary, 35);
      }
      &.selected {
        border-color: $primary;
      }
    }
  }
}
