.field_with_errors {
  .label, .input { color: $danger; }
  .input { border-color: $danger; }
}

// bulma doesn't space checkboxes properly like it does for radios so it's defined here
// see https://github.com/jgthms/bulma/issues/1049
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25rem;
}

label.checkbox, label.radio { margin-right: 1rem; }

.checkbox + .checkbox,
.radio + .radio {
  margin-left: 0.5rem;
}
