<%= react_component("PublicForm", form: local_assigns[:form]) do %>
  <p>Loading form...</p>
<% end %>

<style>
  /* fixes columns spacing */
  form .columns {
    margin-bottom: 0 !important;
  }
</style>
