<% set_meta_tags(
  title: 'Contact',
  canonical: contact_url,
  description: "Sends us a quick message using our contact form.",
) %>

<div class="notification">
  This is an example of a form created within the FormSling platform and embedded into this page.
</div>

<script type="text/javascript" src="<%= embed_js_url %>"></script>
<a class="formsling-form-widget" href="<%= public_form_embed_url(Form.first.id) %>">My first form</a>

<style>
  .formsling-iframe {width: 100%;}
</style>
