$editor-border-size: 2px;
$editor-default-highlight-color: #eee;
$editor-active-highlight-color: lighten($primary, 30);
$editor-primary-highlight-color: $primary;

#editor {
  > header {
    margin-bottom: 2.5rem;
  }

  .toolbar {
    margin-bottom: 2rem;
  }

  .field { margin-bottom: 0.75rem; }

  .drag-area,
  .sidebar {
    min-height: 10rem;
  }

  &.is-enabled #root-canvas {
    padding: 1.5rem;
    background: $white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  #root-canvas {
    min-height: 5rem;

    > .is-enabled-component {
      margin: 1rem 0;
      &:first-of-type { margin-top: 0; }
      &:last-of-type { margin-bottom: 0; }
    }

    // only applies when the editor is currently enabled
    .is-enabled-component {
      > [data-user-component] {
        padding: 1rem;
        padding-top: 2.5rem;
        border: $editor-border-size solid $editor-default-highlight-color;
        border-radius: 3px;
        position: relative;

        &.is-dragging {
          opacity: 0.25;
          .component-action {
            opacity: 0;
          }
        }
      }

      .user-component {
        padding: 1rem;
        padding-top: 2rem;
        background: $white;
      }

      &[data-component-name="Columns"] {
        > [data-user-component] {
          margin: 0;
          padding: 0.5rem;
          padding-top: 2rem;

          // adds dashed border for columns
          .columns > .is-canvas {
            position: relative;

            &::after {
              content: " ";
              border: 1px dashed $editor-active-highlight-color;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              pointer-events: none;
              display: block;
            }

            //&:last-of-type::after { border-left-width: 0; }
          }

          // aid in the clickability of the columns wrapper
          &:hover {
            cursor: pointer;
            .user-component {
              cursor: initial;
            }
          }

          .columns, .column { margin: 0 !important; }
          .column {
            padding: 0;
            min-height: 2rem;
            .user-component { padding: 0.5rem; }
          }
        }
      }

      // The indicator contains the move/delete buttons.
      .user-component-indicator {
        text-align: right;
        padding: 0 0.5rem;
        background: $editor-default-highlight-color;
        height: 1.5rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        cursor: move;

        [data-user-component-icon] { display: none; }

        .component-name {
          text-transform: uppercase;
          font-size: 0.75rem;
          font-weight: 700;
          color: $dark;
        }

        .component-action {
          color: lighten($dark, 40);
        }

        .delete-action {
          cursor: pointer;
        }

        a {
          margin-left: 0.5rem;
        }
      }

      &.is-hovered-component {
        [data-user-component] {
          border-color: $editor-active-highlight-color;
        }

        .user-component-indicator {
          background: $editor-active-highlight-color;
        }

        .component-name,
        .component-action {
          color: $primary;
        }
      }

      &.is-selected-component {
        [data-user-component] {
          border-color: $editor-primary-highlight-color;
        }

        .user-component-indicator {
          background: $editor-primary-highlight-color;
          .component-name,
          .component-action { color: $white; }
        }
      }

    } // .is-enabled-component
  } // #root-canvas
}

// This is sort of hacky to override default behavior of craftjs that appends the drag elements
// to document.body while being actively dragged. By default, craftjs uses shows the drag element,
// but we want to instead show a little box with the element's icon.
body > [draggable="true"] {

  // The toolbar button (already has icon specified in the markup)
  &.button {
    &::before, &::after { display: none; } // hide the tooltip
    .icon { color: $primary; font-size: 2rem; };
  }

  // The draggable element title bar
  &.user-component-indicator {
    width: 3rem !important;
    height: 3rem !important;
    text-align: center;

    > * {
      display: none !important;
    }

    > [data-user-component-icon] {
      display: block !important;
      background: white;
      font-size: 2rem;
      font-weight: 900;
      color: $primary;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
    }

  }
}
