<div class="navbar-brand">
  <%= link_to root_path, class: 'navbar-item' do %>
    <%= image_tag asset_pack_path('media/images/formsling-logo-black.svg'), alt: "formsling", class: "nav-logo" %>
    <span class="nav-logo-text"><span class="is-hidden">F</span>ormSling</span>
  <% end %>

  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
