<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <title>FormSling PDF</title>
    <style>
      button { display: none !important }
    </style>
    <%= Rails.env.production? ? production_pdf_pack_tag('pdf.css') : wicked_pdf_stylesheet_pack_tag('pdf', media: 'all') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
