<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>FormSling PDF</title>
    <style>
      button { display: none !important }
    </style>
    <%= wicked_pdf_stylesheet_pack_tag 'pdf', media: 'all' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
